@import "colors.scss";
@import "config.scss";

#aboutMe {
    position: relative;
    min-height: calc(102vh - $header-height);

    section {
        margin: 8px auto;
        min-height: calc(102vh - $header-height - $component-title-height - 8px);
        width: 90%;

        p {
            font-size: clamp(16px, 4vw, 26px);
            text-align: justify;
            color: rgba(255, 255, 255, 0.7);
            margin: 0;
            text-shadow: 2px 2px 4px black;

            a {
                color: $second-color;
                text-decoration: none;
                padding-bottom: 2px;
                display: inline-block;
                position: relative;

                &::after {
                    content: "";
                    width: 0;
                    height: 2px;
                    position: absolute;
                    background-color: $second-color;
                    transition: width .2s;
                    bottom: 0;
                    left: 0;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        #hi {
            font-size: clamp(24px, 6vw, 39px);
            margin-bottom: 4px;
            color: rgba(white, 0.9);
        }

        #infoAboutMe {
            margin-bottom: 36px;
        }
    }
}