@import "colors.scss";
@import "config.scss";
@import "media.scss";

* {
  font-family: $main-font;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  width: 100vw;
  max-width: 100%;
  overflow: overlay;
  // overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(#384051, 0.8);
    border-radius: 12px;
    border: solid 3px transparent;
  }
}

html {
  scrollbar-color: #384051 transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-padding: $header-height;
}

#root {
  overflow-x: hidden;
  // contain: paint;

}

#app {
  width: 100%;
  position: relative;
  transform: none;
}

.restrictedWidth {
  width: 100%;
  max-width: 1600px;
  padding: 0 128px;
}

.restrictedHeight {
  min-height: 75vh
}

.dataComponent {
  width: 100%;
  color: $main-txt-color;

  section {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


.gearBaseBack {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  // background-color: rgba(255, 255, 255, 0.2);

  .gearBase {
    position: relative;
    width: 100%;
    height: 100%;

    .gearBox {
      // width: $gear-xl;
      // height: $gear-xl;
      // width: min($gear-xl, 50vw, 50vh);
      position: absolute;

      &.xs {
        width: min($gear-xs, 50vw, 50vh);
      }

      &.s {
        width: min($gear-s, 50vw, 50vh);
      }

      &.m {
        width: min($gear-m, 50vw, 50vh);
      }

      &.l {
        width: min($gear-l, 40vw, 40vh);
      }

      &.xl {
        width: min($gear-xl, 50vw, 50vh);
      }


      img {
        width: 100%;
        height: 100%;
        // filter: invert(11%) sepia(44%) saturate(584%) hue-rotate(193deg) brightness(96%) contrast(88%);


        &.left {
          margin-left: -50%;
        }

        &.right {
          margin-left: 50%;
          animation-direction: reverse;
        }

        &.onMobile {
          animation-name: spin;
          animation-duration: 8s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        @keyframes spin {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(360deg);
          }
        }

      }
    }

  }

}

header {
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  transition: all .2s;
  background-color: transparent;
  transform: none;
  padding-top: 32px;

  &.shadow {
    box-shadow: 0px -8px 18px 4px rgba(0, 0, 0, 1);
    padding-top: 0;
    height: $header-height;
    backdrop-filter: blur(4px);
    background-color: rgba($bg-color, 0.9);

    nav {
      #leftHead {
        #logo {
          width: 48px;
        }
      }

      #rightHead {
        a {
          font-size: $header-font-size;
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    #navOver {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);
      display: none;


    }

    #leftHead {
      display: flex;
      align-items: center;
      padding-left: 24px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        #logo {
          width: 56px;
          transition: width .2s;
          // width: 48px;
        }
      }

    }

    #rightHead {
      display: flex;
      align-items: center;
      padding-right: 24px;
      height: 100%;

      a,
      div {
        // height: 100%;
        // display: block;
        margin: 0 10px;
        color: $main-txt-color;
        text-decoration: none;
        font-size: calc($header-font-size * 1.15);
        // font-size: $header-font-size;
        transition: padding .1s, color .1s, font-size .2s;
        cursor: pointer;

        &:hover {
          color: $second-color;
          padding-bottom: 6px;
        }

        img {
          height: calc($header-font-size * 1.6);
          padding-top: 8px;
        }
      }
    }

    #hambButton {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: red;
      width: 32px;
      height: 24px;
      margin-right: 24px;
      cursor: pointer;
      display: none;


      .hambBtn {
        width: 32px;
        height: 2px;
        border-radius: 12px;
        background-color: white;
        transition: all .2s ease-in-out;
      }

      &.open {

        margin-right: 32px;

        .hambBtn:nth-child(1) {
          transform: rotate(-45deg) translateY(16px);
        }

        .hambBtn:nth-child(2) {
          transform: translateX(32px);
          background-color: transparent;
        }

        .hambBtn:nth-child(3) {
          transform: rotate(45deg) translateY(-16px);
        }

      }
    }
  }

}

main {
  min-height: 100vh;
  // min-height: calc(100vh - $header-height);
  margin: 0 auto;
  // overflow-x: hidden;

  .compHeader {
    height: $component-title-height;
    width: 100%;
    color: $main-txt-color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      width: 50%;
      height: 2px;
      background-color: $my-gray;
    }

    .compTitle {
      font-size: clamp(44px, 9vw, 90px);
      // font-size: $component-title-font-size;
      text-align: center;
      font-family: $component-title-font;
      z-index: 10;
      position: relative;
      font-weight: bold;

      span {
        padding: 0 36px;
        background-color: transparent;
        white-space: nowrap;
        word-break: keep-all;
      }
    }
  }

  #home {
    width: 100%;
    color: $main-txt-color;
    // margin-top: -calc($header-height + $header-start-margin-top);
    // height: calc(100vh - $header-height);
    height: 104vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #homeTxt {
      // width: 100%;
      padding: 0 12px;

      #homeTitle {
        font-size: clamp(40px, 8vw, 80px);
        ;
        margin: 0;
        padding: 0 0;
      }

      #homeSubTitle {
        font-size: clamp(20px, 4vw, 40px);
        margin: 12px 0;
        padding: 0;
        color: $my-gray;
      }
    }
  }

  #aboutMe {
    position: relative;
    min-height: calc(102vh - $header-height);

    section {
      margin: 8px auto;
      min-height: calc(102vh - $header-height - $component-title-height - 8px);
      width: 80%;

      p {
        font-size: clamp(16px, 4vw, 26px);
        text-align: justify;
        color: rgba(255, 255, 255, 0.8);
        margin: 0;
        text-shadow: 2px 2px 4px black;
        font-size: 24px;
      }

      #hi {
        font-size: clamp(24px, 6vw, 39px);
        margin-bottom: 4px;
        color: rgba(255, 255, 255, 0.9);
      }

      #infoAboutMe {
        margin-bottom: 36px;
      }
    }
  }

  #skills {
    position: relative;

    section {
      margin: 0 auto;
      text-align: center;
      padding-bottom: 120px;


      #favTech {
        margin: 64px 0;
        font-size: clamp(20px, 2.6vw, 30px);
      }

      #technologiesDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;

        height: 5 * ($technology-box-height + 2 * $technology-box-margin);

        .technologyBox {
          width: 48%;
          height: $technology-box-height;
          border-radius: 12px;
          background-color: rgba(lighten($bg-color, 6%), 96%);
          // background-color: $third-color;
          box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
          margin: $technology-box-margin;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 36px;
          font-size: clamp(16px, 2.4vw, 20px);
          transition: transform .2s;


          &:hover {
            transform: translate(0, -5px) scale(1.02);

            img {
              filter: grayscale(0);
            }
          }

          img {
            width: 60%;
            filter: grayscale(1);
            transition: filter .2s;
            border-radius: 6px;
          }

          p {
            margin: 0;
          }

          .techInfo {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
              margin-top: 8px;
            }
          }

          .techData {
            width: 70%;
            text-align: left;
          }
        }
      }
    }
  }

  #portfolio {
    position: relative;

    section {

      width: 100%;
      margin: 128px auto;
      // background-color: rgba(255, 255, 255, 0.1);

      .projectBox {
        width: 100%;
        height: fit-content;
        // background-color: rgba(0, 0, 0, 0.1);
        margin: 128px 0;
        position: relative;
        display: flex;


        .left {
          top: 0;
          left: 0;
        }

        .right {
          top: 0;
          right: 0;
        }

        &.reverse {
          flex-direction: row-reverse;

          .projectInfo {
            .projectTech {
              justify-content: flex-start;
              text-align: left;
            }
          }
        }

        .projectImgBox {
          // position: absolute;
          overflow: hidden;
          position: relative;
          width: 70%;
          // height: fit-content;
          // height: 100%;
          border-radius: 12px;
          box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.4);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            filter: saturate(0);

            transition: filter .5s, opacity .1s;

            &:hover {
              filter: saturate(70%);
              opacity: 1;
            }
          }

          &:hover {
            img {
              filter: saturate(70%);
              opacity: 1;
            }

            .imgOverlay {
              background-color: transparent;
            }
          }

          .imgOverlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            transition: background-color .2s;
          }

        }

        .projectInfo {
          height: fit-content;
          position: absolute;
          right: 0;
          top: 0;
          width: 44%;
          color: white;
          text-align: center;

          .projectDetails {
            margin-top: 30px;
            background-color: rgba($third-color, 0.96);
            padding: 16px 20px;
            box-sizing: border-box;
            border-radius: 12px;
            // box-shadow: 6px 6px 6px 0 rgba(255, 255, 255, 0.1);
            box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.4);

            h1 {
              margin: 8px 0;
              font-size: 32px;
            }

            p {
              font-size: 18px;
              padding: 24px 0;
            }

            .projectButtons {
              margin: 8px 0;
              display: flex;
              justify-content: space-between;

              a {
                display: flex;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                height: clamp(36px, 3.8vw, 42px);
                // height: 42px;
                width: 48%;
                background-color: rgba(0, 0, 0, 0.1);
                border: 2px solid white;
                border-radius: 12px;
                color: white;
                font-size: clamp(18px, 2vw, 24px);
                box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
                transition: transform .2s, border-color .2s, color .2s;
                cursor: pointer;

                img {
                  margin-right: 16px;
                  // width: 36px;
                  filter: invert(1);
                }

                .gitImg {
                  width: clamp(24px, 2vw, 30px);
                }

                .gameImg {
                  width: clamp(34px, 2vw, 42px);
                }

                &:hover {
                  transform: translate(0, -4px);
                  border-color: $second-color;
                  color: $second-color;

                  img {
                    filter: invert(77%) sepia(88%) saturate(1501%) hue-rotate(310deg) brightness(98%) contrast(97%);
                  }


                }
              }
            }
          }

          .projectTech {
            width: 100%;
            height: calc($project-tech-height - 4px);
            margin: 2px 0;
            text-align: right;
            word-spacing: 14px;
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: clamp(14px, 2vw, 18px);
            // margin: 0;

            // margin: 12px 0;
          }
        }

      }
    }
  }

  #contact {
    min-height: calc(364px + $header-height + $footer-height);
    height: calc(100vh - $header-height - $footer-height);
    position: relative;

    section {
      height: max(calc(100% - $component-title-height - 16px), 364px);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 16px 0;

      #contactInfo {
        text-align: center;
        color: white;

        h1 {
          font-size: clamp(42px, 6vw, 52px);
          margin: 20px 0;
        }

        #writeToMe {
          margin-bottom: 64px;
        }

        img {
          filter: invert(1);
          width: clamp(32px, 5vw, 44px);
          margin-right: 16px;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-size: clamp(18px, 2.8vw, 24px);
          color: white;
          text-decoration: underline;
          transition: transform .2s;

          &:hover {
            color: $second-color;
            transform: translate(0, -6px);

            img {
              filter: invert(77%) sepia(88%) saturate(1501%) hue-rotate(310deg) brightness(98%) contrast(97%);
            }
          }
        }
      }
    }
  }
}

footer {
  height: $footer-height;
  color: white;
  width: 100%;
  text-align: center;
  overflow-x: hidden;

  p {
    margin: 6px 0;
    font-size: 18px;
  }
}

#tsparticles {
  position: fixed;
  z-index: -2;

  canvas {
    z-index: -2 !important;
  }
}

@media screen and (max-width: 1200px) {
  main {
    #portfolio {
      section {
        .projectBox {
          .projectInfo {
            width: 50%;

            .projectDetails {
              p {
                padding: 16px 0;
                margin: 12px 0;
              }

              .projectButtons {
                a {
                  height: 36px;
                }
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 1100px) {
  main {
    #skills {
      section {
        #technologiesDiv {

          height: 10 * ($technology-box-height + 2 * $technology-box-margin);

          .technologyBox {
            width: 100%;
            padding: 0 18px;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }

    #portfolio {
      section {
        .projectBox {
          display: grid;

          .projectImgBox {
            grid-row: 1;
            grid-column: 1;
            width: 100%;
            opacity: 1;
            position: relative;
            overflow: hidden;
            // background-color: rgba(0, 0, 0, 1);
            border-radius: 12px;

            img {
              height: 100%;
            }

            .imgOverlay {
              background-color: rgba(0, 0, 0, 0.8);
            }
          }

          .projectInfo {
            grid-row: 1;
            grid-column: 1;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 16px;

            .projectDetails {

              background-color: transparent;
              box-shadow: none;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: calc(100% - $project-tech-height);
              margin: 0;

              p {
                padding: 16px 0;
                margin: 12px 0;
              }
            }

            .projectTech {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              text-align: center;
            }
          }

          &.reverse {

            .projectInfo {
              .projectTech {
                justify-content: center;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .restrictedWidth {
    padding: 0 24px;
  }

  .technologyBox {
    width: 100%;
  }

  header {
    nav {
      #navOver {
        &.show {
          display: block;
        }

        &.hide {
          display: none;
        }
      }

      #hambButton {
        display: flex;
        z-index: 100;
      }

      #rightHead {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        width: 72vw;
        top: 0;
        right: calc(-72vw - 12px);
        background-color: rgba($third-color, 0.95);
        box-shadow: -4px 0 8px 2px rgba(0, 0, 0, 0.2);
        z-index: 2;
        transition: right .2s, visibility .2s;
        visibility: hidden;

        &.showNav {
          visibility: visible;
          right: 0;
        }

        a {
          height: 8vh;
          margin: 1vh 0;
          display: flex;
          align-items: center;
          font-size: 5vw;

          &.shadow {
            font-size: 5vw;
          }

          img {
            height: 5vh;
          }
        }

      }
    }

    &.shadow {
      nav {
        #rightHead {
          a {
            font-size: 5vw;
          }
        }
      }
    }
  }

  body {

    &.noScroll {
      overflow-y: hidden;

      html {
        overflow-y: hidden;
      }

      main,
      footer {
        filter: blur(4px);
      }
    }
  }
}


// scroll behaviour
// scroll padding