@import "colors.scss";
@import "config.scss";

* {
  font-family: $main-font;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  width: 100vw;
  max-width: 100%;
  overflow: overlay;
  // overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(#384051, 0.8);
    border-radius: 12px;
    border: solid 3px transparent;
  }
}

html {
  scrollbar-color: #384051 transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-padding: $header-height;
}

#root {
  overflow-x: hidden;
  // contain: paint;

}

#app {
  width: 100%;
  position: relative;
  transform: none;
}

.restrictedWidth {
  width: 100%;
  max-width: 1600px;
  padding: 0 128px;
}

.restrictedHeight {
  min-height: 75vh
}

.dataComponent {
  width: 100%;
  color: $main-txt-color;

  section {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


main {
  min-height: 100vh;
  // min-height: calc(100vh - $header-height);
  margin: 0 auto;
  // overflow-x: hidden;

  .compHeader {
    height: $component-title-height;
    width: 100%;
    color: $main-txt-color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      width: 50%;
      height: 2px;
      background-color: $my-gray;
    }

    .compTitle {
      font-size: clamp(44px, 9vw, 90px);
      // font-size: $component-title-font-size;
      text-align: center;
      font-family: $component-title-font;
      z-index: 10;
      position: relative;
      font-weight: bold;

      span {
        padding: 0 36px;
        background-color: transparent;
        white-space: nowrap;
        word-break: keep-all;
      }
    }
  }
}

#tsparticles {
  position: fixed;
  z-index: -2;

  canvas {
    z-index: -2 !important;
  }
}

// @media screen and (max-width: 1200px) {
//   main {

//   }
// }


@media screen and (max-width: $breakpoint-3) {
  .restrictedWidth {
    padding: 0 24px;
  }

  .technologyBox {
    width: 100%;
  }

  body {

    &.noScroll {
      overflow-y: hidden;

      html {
        overflow-y: hidden;
      }

      main,
      footer {
        filter: blur(4px);
      }
    }
  }
}

.active {
  animation-duration: .5s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--delay) * $animation-delay-multip);
}

.active-Up {
  animation-name: verticalActive;
}

.active-Down {
  animation-name: verticalDown;
}

.active-Left {
  animation-name: horizontalLeft;
}

.active-Right {
  animation-name: horizontalRight;
}

.active-Scale {
  animation-name: scaleApperance;
}

@keyframes verticalActive {
  0% {
    opacity: 0;
    transform: translateY(-120px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes verticalDown {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes horizontalLeft {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes horizontalRight {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleApperance {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


// scroll behaviour
// scroll padding