$bg-color: #0B1026;
$second-color: #F7976F;
$third-color: #081833;

$mono-color-1: #95A8FD;
$mono-color-2: #496AFC;
$mono-color-3: #4A537D;
$mono-color-4: #3A55C9;

$analog-color-1: #3757E6;
$analog-color-2: #496AFC;
$analog-color-3: #3757E6;
$analog-color-4: #3D60FE;


$main-txt-color: white;


$my-gray: #8892b0;

$gears-color: #24273b;