$main-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$header-font-size: 18px;
$header-height: 64px;
$header-start-margin-top: 16px;

$footer-height: 78px;

$technology-box-height: 192px;
$technology-box-margin: 8px;

$component-title-font-size: 86px;
$component-title-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$component-title-height: 80px;

$project-tech-height: 45px;

$gear-xl: 384px;
$gear-l: 288px;
$gear-m: 216px;
$gear-s: 162px;
$gear-xs: 121.5px;