@import "colors.scss";
@import "config.scss";

.gearBaseBack {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background-color: rgba(255, 255, 255, 0.2);

    .gearBase {
        position: relative;
        width: 100%;
        height: 100%;

        .gearBox {
            // width: $gear-xl;
            // height: $gear-xl;
            // width: min($gear-xl, 50vw, 50vh);
            position: absolute;

            &.xs {
                width: min($gear-xs, 50vw, 50vh);
            }

            &.s {
                width: min($gear-s, 50vw, 50vh);
            }

            &.m {
                width: min($gear-m, 50vw, 50vh);
            }

            &.l {
                width: min($gear-l, 40vw, 40vh);
            }

            &.xl {
                width: min($gear-xl, 50vw, 50vh);
            }


            img {
                width: 100%;
                height: 100%;


                &.left {
                    margin-left: -50%;
                }

                &.right {
                    margin-left: 50%;
                    animation-direction: reverse;
                }

                &.onMobile {
                    animation-name: spin;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

            }
        }

    }

}